.banner-wrapper {
    height: calc(100vh - 95px);
    background-image: url(../../public/images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
}
.banner-text {
    max-width: 700px;
    width: 100%;
    padding: 2em;
}
.banner-text h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    text-transform: uppercase;
    font-family: var(--font3);
}
.banner-text h1 span {
    color: var(--red);
    text-shadow: 0 0 50px #ff0000;
    animation: colorswitch 2s linear infinite;
}
@keyframes colorswitch {
    0% {text-shadow: 0 0 0 #ff0000;}
    50% {text-shadow: 0 0 50px #ff0000;}
    100% {text-shadow: 0 0 0 #ff0000;}
}
.banner-text p {
    margin: 1.5em 0;
}
