.product-page-box {
    text-align: center;
}
.product-page-box {
    border: 1px solid #2e2e2e;
    border-radius: 20px;
    position: relative;
    z-index: 0;
    padding: 1em;
}
.product-page-box img {
    width: 70%;
}
.product-page-box:before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(#8b8b8b 0%, transparent 72%);
    z-index: -1;
}
.product-page-box h4 {
    margin: 1em 0 0 0;
    font-size: 25px;
    color: #fff;
    font-family: var(--font2);
}
.product-page-box h4 small {
    display: block;
    letter-spacing: 10px;
    color: var(--red);
    font-size: 15px;
    margin-top: 5px;
}