@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Bebas+Neue&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font1: 'Barlow', sans-serif;
    --font2: 'Bebas Neue', cursive;
    --font3: 'Oswald', sans-serif;
    --red: #ed1c24;
}
body {
    font-family: var(--font1);
    background-color: #000;
}
p {
    color: #fff;
    opacity: .7;
}
img {
    max-width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: unset !important;
}
button {
    border: none;
    box-shadow: unset;
    outline: none !important;
}
.btnred {
    min-width: 150px;
    height: 55px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff0000 0%, #a10000 100%);
    color: #fff !important;
    font-size: 15px;
    font-family: var(--font3);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 2px 20px #c70000;
    transition: .3s;
}
.btnred:hover {
    background: linear-gradient(45deg, #a10000 0%, #ff0000 100%);
}